# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
build/
bin/
obj/

# CMake specific files
CMakeCache.txt
CMakeFiles/
cmake-build-debug/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
